label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: 0.5rem;

  &:focus {
    outline: #336699 auto 1px;
  }
}

button {
  margin-top: 20px;
  margin-right: 10px;
  background-color: #eeeeee;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;

  &:hover {
    background-color: #42545c;
    color: #eeeeee;
  }

  &:disabled {
    background-color: #eeeeee;
    //color: #cccccc;
    color: red;
    cursor: auto;
  }
}
